<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Projekt</title>
    <link rel="stylesheet" type="text/css" href="/css/Project-css/createProject.css">

</head>
<body>
<header>
    <div class="logo"></div>
</header>
<div class="wrapper create-project-form">
        <span class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>

    <div class="form-box">
        <h2>Opret Projekt</h2>
        <form th:action="@{/projects/create/{user_id}(user_id=${user_id})}" method="post" th:object="${project}">
            <div class="input-box">

                <input type="text" th:field="*{project_name}" class="input1"  required>
                <label>Projekt navn</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">

                <input type="text" th:field="*{project_description}" class="input1" >
                <label>Projekt beskrivelse</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">

                <input type="date" th:field="*{start_date}" class="input1" min="2000-01-01" max="3000-12-31">
                <label>Start Dato</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">

                <input type="date" th:field="*{end_date}" class="input1" min="2000-01-01" max="3000-12-31">
                <label>Slut Dato</label>
                <div class="shadow-input1"></div>
            </div>
            <button style="margin: 2px" type="submit" class="button">Submit</button>
            <button style="margin: 2px" type="reset" class="button btn-danger">Reset</button>
            <a th:href="@{/projects/{user_id}(user_id=${user_id})}" style="margin-top: 20px" class="button">Gå tilbage til projekter</a>
        </form>
    </div>
</div>
<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
