<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger Projekt</title>
    <link rel="stylesheet" type="text/css" href="/css/Project-css/editProject.css">
</head>
<body>
<header>
    <div class="logo"></div>
</header>
<div class="wrapper create-project-form">
    <span class="icon-close">
        <ion-icon name="close-outline"></ion-icon>
    </span>

    <div class="form-box">
        <h2>Rediger Projekt</h2>
        <form method="post" th:action="@{/projects/{user_id}/edit/{project_id}(user_id=${user_id}, project_id=${project_id})}">
            <div class="input-box">
                <input id="project_name" type="text" th:name="project_name" th:value="${project.project_name}" class="input1" required>
                <label for="project_name">Projekt Navn</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">
                <input id="project_description" type="text" th:name="project_description" th:value="${project.project_description}" class="input1">
                <label for="project_description">Projekt Beskrivelse</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">
                <input id="task_start_date" type="date" th:field="*{project.start_date}" class="input1" required min="2000-01-01" max="3000-12-31">
                <label for="task_start_date">Start Dato</label>
                <div class="shadow-input1"></div>
            </div>
            <div class="input-box">
                <input id="task_end_date" type="date" th:field="*{project.end_date}" class="input1" required min="2000-01-01" max="3000-12-31">
                <label for="task_end_date">Slut Dato</label>
                <div class="shadow-input1"></div>
            </div>
            <input type="hidden" th:field="*{project_id}" required>
            <input type="hidden" th:name="user" th:value="*{user_id}" required>
            <button type="submit" class="button">Gem</button>
        </form>
        <a th:href="@{/projects/{user_id}(user_id=${user_id})}">
            <button type="button" class="button">Tilbage til projekter</button>
        </a>
    </div>
</div>
<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
