<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a th:href="@{/home/{user_id}(user_id=${user_id})}">
        <div class="logo"></div>
    </a>
    <nav class="navigation">
            <a th:href="@{/home/{user_id}(user_id=${user_id})}">Hjem</a>
            <a th:href="@{/logout}" button class="slidelogin-popup">Log ud</a>
    </nav>
</header>

<h1>Manage Projects</h1>

<div style="position: fixed; top: 15%; left: 80%; transform: translate(-50%, -50%); box-sizing: content-box">
    <a th:href="@{/projects/create/{user_id}(user_id=${user_id})}">
        <button type="button" class="btn">Opret projekt</button>
    </a>
</div>

<br>
<br>

<main class="table">
    <section class="table_body">
        <table>
            <thead>
            <tr>
                <th scope="col">Projekt Navn</th>
                <th scope="col">Projekt Beskrivelse</th>
                <th scope="col">Start Dato</th>
                <th scope="col">Slut Dato</th>
                <th scope="col">Projektets Estimerede tid</th>
                <th scope="col">Se dine tasks</th>
                <th scope="col">Vis projekt</th>
                <th scope="col">Rediger Projekt</th>
                <th scope="col">Slet Projekt</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.project_name}"></td>
                <td th:text="${project.project_description}"></td>
                <td th:text="${project.start_date}"></td>
                <td th:text="${project.end_date}"></td>
                <td th:text="${project.projectCalculatedTime}"/>

                <td>
                    <a th:href="@{/tasks/{project_id}(project_id=${project.project_id})}">
                        <button type="button" class="btn">Vis Opgaver</button>
                    </a>
                </td>

                <td>
                    <a th:href="@{/project/{project_id}(project_id=${project.project_id})}">
                        <button type="button" class="btn">Vis Projekt</button>
                    </a>
                </td>

                <td>
                    <a th:href="@{/projects/{user_id}/edit/{project_id}(user_id=${user_id}, project_id=${project.project_id})}">
                        <button type="button" class="btn">Rediger Projekt</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/deleteProject/{project_id}(project_id=${project.project_id})}">
                        <button type="button" class="btn">Slet Projekt</button>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>