<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Opret underopgave</title>
  <link rel="stylesheet" type="text/css" href="/css/Subtask-css/createSubTask.css">

</head>
<body>

<h1>Opret Underopgave</h1>

<form th:action="@{/subtasks/create/{task_id}(task_id=${task_id})}" method="post"
      th:object="${subtask}">

  <div>
    <label class="createSubtaskForm">Underopgave navn:</label>
    <input type="text" th:field="*{subtask_name}" placeholder="Underopgave navn" required>
  </div>

  <div>
    <label class="createSubtaskForm">Estimeret tid:</label>
    <input type="text" th:field="*{hours}" placeholder="hours" min="0" max="9999" pattern="[0-9]{1,4}" title="Hours must be between 0 and 9999" required>
  </div>

  <div>
    <label class="createSubtaskForm">Start Dato</label>
    <input type="date" th:field="*{start_date}" th:min="${task_start_date}" th:max="${task_end_date}" required>
  </div>

  <div>
    <label class="createSubtaskForm">Slut Dato</label>
    <input type="date" th:field="*{end_date}" th:min="${task_start_date}" th:max="${task_end_date}" required>
  </div>

  <div>
    <label class="createTaskForm">Status</label>
    <label>
      <select name="status" id="status">
        <option value="1">TODO</option>
        <option value="2">I gang</option>
        <option value="3">Færdig</option>
      </select>
    </label>
  </div>

  <br>

  <div>
    <input type="submit" value="Lav Underopgave" class="button success"/>
    <input type="reset" value="Reset" class="button reset"/>
  </div>

  <br>

  <a th:href="@{/subtasks/{task_id}(task_id=${task_id})}">
    <button type="button" class="button go-back">Gå tilbage</button>
  </a>

</form>

</body>
</html>
