<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subtasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a th:href="@{/home/{user_id}(user_id=${user_id})}">
        <div class="logo"></div>
        <nav class="navigation">
            <a th:href="@{/projects/{user_id}(user_id=${user_id})}">Projekter</a>
            <a th:href="@{/logout}" button class="slidelogin-popup">Log ud</a>
        </nav>
    </a>
</header>
    <h1>Underopgave</h1>

<div style="position: fixed; top: 25%; left: 50%; transform: translate(-50%, -50%);">
    <a th:href="@{/subtasks/create/{task_id}(task_id=${task_id})}">
        <button type="button" class="button">Opret Underopgave</button>
    </a>
</div>

<main class="table">
    <section class="table_body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Underopgave navn</th>
                <th scope="col">Underopgave Timer</th>
                <th scope="col">Start dato</th>
                <th scope="col">Slut dato</th>
                <th scope="col">Status</th>
                <th scope="col">Slet Underopgave</th>
                <th scope="col">Rediger Underopgave</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subtask : ${subtasks}">
                <td th:text="${subtask.subtask_name}"></td>
                <td th:text="${subtask.hours}"></td>
                <td th:text="${subtask.start_date}"></td>
                <td th:text="${subtask.end_date}"></td>
                <td th:if="${subtask.status}==1"><a style="color: #0050ff;">TODO</a></td>
                <td th:if="${subtask.status}==2"><a style="color: #ffdc0c;">I Gang</a></td>
                <td th:if="${subtask.status}==3"><a style="color: #14cb2e;">Færdig</a></td>

                <td>
                    <a th:href="@{/subtasks/delete/{subtask_id}(subtask_id=${subtask.subtask_id})}">
                        <button type="button" class="button">Slet Subtask</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/subtask/{task_id}/edit/{subtask_id}(task_id=${task_id}, subtask_id=${subtask.subtask_id})}">
                        <button type="button" class="button">Rediger Subtask</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>