<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret opgave</title>
    <link rel="stylesheet" href="/css/Task-Subtask.css">
</head>
<body>

    <h1>Opret Opgave</h1>

    <form th:action="@{/task/create/{project_id}(project_id=${project_id})}" method="POST" th:object="${task}">

        <div class="createTaskForm">
            <label class="createTaskForm">Opgave navn:</label>
            <label>
                <input type="text" th:field="*{task_name}" placeholder="Opgave navn" required>
            </label>
        </div>

        <div class="createTaskForm">
            <label class="createTaskForm">Timer:</label>
            <input type="number" th:field="*{hours}" placeholder="hours" min="0" max="9999" pattern="[0-9]{1,4}" title="Hours must be between 0 and 9999" required>
        </div>

        <div>
            <label class="createTaskForm">Start Dato</label>
            <label>
                <input type="date" th:field="*{start_date}" th:min="${project_start_date}" th:max="${project_end_date}" required>
            </label>
        </div>

        <div>
            <label class="createTaskForm">Slut Dato</label>
            <label>
                <input type="date" th:field="*{end_date}" th:min="${project_start_date}" th:max="${project_end_date}" required>
            </label>
        </div>

        <div>
            <label class="createTaskForm">Status</label>
            <label>
                <select name="status" id="status">
                    <option value="1">TODO</option>
                    <option value="2">I gang</option>
                    <option value="3">Færdig</option>
                </select>
            </label>
        </div>

        <br>

        <div>
            <input type="submit" value="Lav Opgave" class="button success"/>
            <input type="reset" value="Reset" class="button reset"/>
        </div>

        <br>

        <a th:href="@{/tasks/{project_id}(project_id=${project_id})}">
            <button type="button" class="button go-back">Gå tilbage</button>
        </a>

    </form>

</body>
</html>

