<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="logo"></div>
    <nav class="navigation">
        <a th:href="@{/projects/{user_id}(user_id=${user_id})}">Projekter</a>
        <a th:href="@{/logout}" button class="btnlogin-popup">Log ud</a>
    </nav>
</header>

<h1>Tasks</h1>

<div style="position: fixed; top: 15%; left: 80%; transform: translate(-50%, -50%);">
    <a th:href="@{/task/create/{project_id}(project_id=${project_id})}">
        <button type="button" class="btn">Opret Opgave</button>
    </a>
</div>

<main class="table">
    <section class="table_header">
    </section>


    <section class="table_body">
        <table>
            <thead>
            <tr>
                <th scope="col">Opgave Navn</th>
                <th scope="col">Timer</th>
                <th scope="col">Start dato</th>
                <th scope="col">Slut dato</th>
                <th scope="col">EST. tid sub/task</th>
                <th scope="col">Status</th>
                <th scope="col">Rediger projekt</th>
                <th scope="col">Slet projekt</th>
                <th scope="col">Se subtasks</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.task_name}"></td>
                <td th:text="${task.hours}"></td>
                <td th:text="${task.start_date}"/>
                <td th:text="${task.end_date}"/>
                <td th:text="${task.calculatedTime}"/>
                <td th:if="${task.status}==1"><a style="color: #0050ff;">TODO</a></td>
                <td th:if="${task.status}==2"><a style="color: #ffdc0c;">I gang</a></td>
                <td th:if="${task.status}==3"><a style="color: #14cb2e;">Færdig</a></td>

                <td>
                    <a th:href="@{/task/{project_id}/edit/{task_id}(project_id=${project_id}, task_id=${task.task_id})}">
                        <button type="button" class="btn">Rediger Opgave</button>
                    </a>
                <td>
                    <a th:href="@{/task/delete/{task_id}(task_id=${task.task_id})}">
                        <button type="button" class="btn">Slet Opgave</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/subtasks/{task_id}(task_id=${task.task_id})}">
                        <button type="button" class="btn">Se subtasks</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </section>
</main>

</body>
</html>