<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form method="post" th:action="@{/editUser/{user_id}(user_id=${user.user_id})}" th:object="${user}">
    <header>
        <div class="logo"></div>
    </header>
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>

        <div class="form-box login">
            <h2>Edit User</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
                <input type="text" th:field="*{username}" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input id="password" type="password" th:field="*{password}" required>
                <label>Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" th:field="*{email}" required>
                <label>Email</label>
            </div>
            <button type="submit" class="button">Save</button>
            <a th:href="@{/home/{user_id}(user_id=${user_id})}">
                <button type="button" class="button go-back">Go Back</button>
            </a>
        </div>
    </div>
    <input type="hidden" th:field="*{user_id}">
</form>
<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>