<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Organization</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<form method="post" th:action="@{/editUser/{user_id}(user_id=${user.user_id})}">
    <h1 class="login1">Edit user</h1>

    <label for="username">Username:</label>
    <input id="username" type="text" th:name="username" th:value="${user.username}" required>

    <label for="password">Password:</label>
    <input id="password" type="text" th:name="password" th:value="${user.password}" required>

    <input type="hidden" th:field="*{user_id}">

    <button type="submit" class="btn" style="width: 70px">Save</button>

    <a th:href="@{/home/{user_id}(user_id=${user_id})}">
        <button type="button" class="btn go-back">Go Back</button>
    </a>

</form>

</body>
</html>