<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a th:href="@{/home/{user_id}(user_id=${user_id})}">
        <div class="logo"></div>
    </a>
    <nav class="navigation">
        <a th:href="@{/editUser/{user_id}(user_id=${user_id})}" class="btn"> Rediger Profil </a>
        <a th:href="@{/logout}" button class="btn"> Log ud </a>
    </nav>
</header>
<h1>Log in successfuldt</h1>
<h3>
    <div style="position: fixed; top: 40%; left: 47.5%; transform: translate(-50%, -50%);">
    <a th:href="@{/projects/{organization_id}(organization_id=${user_id})}">
        <button type="button" class="btn">Se Nuværende projekter</button>
    </a>
    </div>
</h3>
<!-- Other HTML content -->

<copyrightSection>
    <p>&copy; 2024 Project Forge af Alphasolutions</p>
</copyrightSection>
</body>
</html>