<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a th:href="@{/home/{user_id}(user_id=${user_id})}">
        <div class="logo"></div>
    </a>
    <nav class="navigation">
        <a th:href="@{/editUser/{user_id}(user_id=${user_id})}">Rediger Profil</a>
        <a th:href="@{/logout}" button class="slidelogin-popup">Log ud</a>
    </nav>
</header>
<h1>Log in successfuldt</h1>
<h3>
    <a th:href="@{/projects/{organization_id}(organization_id=${user_id})}">
        <button type="button" class="button">Se Nuværende projekter</button>
    </a>
</h3>
<!-- Show gantt content -->

<h3>
    <a th:href="@{/api/gantt/{userId}(userId=${user_id})}">
        <button type="button" class="button">View Gantt Models</button>
    </a>
</h3>
<!-- Other HTML content -->

<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
</body>
</html>