<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form method="post" th:action="@{/login}" th:object="${user}">
    <header>
        <div class="logo"></div>
    </header>
    <div class="wrapper">
<span class="icon-close">
    <ion-icon name="close-outline"></ion-icon>
</span>

        <div class="form-box login">
            <h2>Login</h2>
            <form method="post" th:action="@{/register}" th:object="${user}">
                <div class="input-box">
                    <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
                    <input type="text"  th:field="*{username}" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input id="password" type="password"
                           th:field="*{password}" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="/register" class="register-link">Register</a> </p>
                </div>

                <div id="error-message" th:if="${loginFailed}" class="error-message">
                    Wrong login, please try again.
                </div>

            </form>
        </div>
    </div>
</form>

</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>