<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<form method="post" th:action="@{/register}" th:object="${user}">
    <header>
        <div class="logo"></div>
    </header>
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>

        <div class="form-box login">
            <h2>Sign Up</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
                <input type="text" th:field="*{username}" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input id="password" type="password" th:field="*{password}" required>
                <label>Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" th:field="*{email}" required>
                <label>Email</label>
            </div>
            <button type="submit" class="button">Register</button>
            <div class="loginorRegister">
                <p>Already have an account? <a href="/login" class="register-link">Login</a></p>
            </div>
        </div>
    </div>
    <input type="hidden" th:field="*{role_id}" th:value="${defaultRole}">
</form>
<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
