<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Registrer Bruger</h1>

<br>

<form th:action="@{/register}" method="post" th:object="${user}">

    <div class="signupForm">
        <label class="col-sm-2 col-form-label">Brugernavn:</label>
        <input type="text" th:field="*{username}" placeholder="User name" required>
    </div>

    <div class="signupForm">
        <label class="col-sm-2 col-form-label">Password:</label>
        <input type="password" th:field="*{password}" placeholder="Password" required>
    </div>

    <div class="signupForm">
        <label class="col-sm-2 col-form-label">Email:</label>
        <input type="email" th:field="*{email}" placeholder="Email" required>
    </div>

    <br>

    <div>
        <input type="submit" value="Register" class="btn"/>
        <input type="reset" value="Slet" class="btn"/>
    </div>
    <input type="hidden" th:field="*{role_id}" th:value="${defaultRole}">
    <br>

    <a th:href="@{/register}">Har du allerde en bruger?</a>

    <a th:href="@{/}">
        <button type="button" class="btn btn-secondary btn-lg">Gå tilbage</button>
    </a>
</form>

</body>
</html>