<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Page not found</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <style>
    h1 {
      font-size: 54px; /* Set the font size to 24 pixels */
      color: #ff0000; /* Set the color to a dark shade for better visibility */
      font-family: "Times New Roman", sans-serif; /* Specify a fallback font family */
    }
  </style>
</head>
<body>
<h1>Page not found; 404. Sorry we could not find the page you are looking for :(</h1>
</body>
</html>
