body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    width: 50px;
    height: 50px;
background-image: url("ganttimages/Logo.png");
background-repeat: no-repeat;
background-position: center center;    background-size: contain;
}

.navigation a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.gantt-container {
    padding: 20px;
}

.gantt-time-axis {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.time-interval {
    flex: 1;
    text-align: center;
}

.gantt-project {
    margin-bottom: 20px;
}

.project-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.gantt-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-name {
    flex: 1;
    padding-right: 10px;
}

.gantt-bar {
    position: relative;
    height: 20px;
    background-color: #4caf50;
}

.subtask .gantt-bar {
    background-color: #2196f3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    margin-top: 20px;
}
