@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgba(29,29,29,0.8);
}
h1{
    position: fixed;
    top: 10%;
    font-weight: bolder;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
}
td {
    text-align: left;
}
td .subtask{
    margin-right: 40px;
}
main.table {
    width: 82vw;
    bacground-color: #fff5;
    backdrop-filter: blur(5px);
    box-shadow: 0 0.4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}
.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .5rem 1rem;
}
.table_body {
    width: 95%;
    max-height: calc(90% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}
.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0003;
    visibility: hidden;
}
.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
table{
    width: 100%;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(224, 218, 241);
}
.subtask.custom-td {
    padding-left: 50px;
}
tbody tr:nth-child(even){
    background-color: #fff8;
}
tbody tr:hover{
    background-color: #fff6;
}
.status{
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}
.status.done {
    background-color: #86E49D;
    color: #006b21;
}
.status.inprogress{
    background-color: #F9E79F;
    color: #b7950b;
}
.status.to-do{
    background-color: #F5B7B1;
    color: #a93226;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    align-content: center;
}
.form-label{
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: .5rem;
    align-content: center;
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/white-texture.jpg") no-repeat;
    background-size: cover;
    background-position: center;


}



.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgba(29,29,29,0.8);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.98);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgba(29,29,29,0.8);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnlogin-popup:hover {
    background: #ffffff;
    color: #000000;
}

.wrapper {
    animation-name: click_kf;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transition: transform .5s ease, height .2s ease; */
}

@keyframes click_kf {
0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transfrom: translateX(0)
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgba(208, 25, 25, 0.55);
    font-size: 2em;
    color: rgba(29,29,29,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: rgba(29,29,29,0.8);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgba(29,29,29,0.8);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgba(29,29,29,0.8);
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgba(29,29,29,0.8);
    line-height: 57px;
}

.logo {
    width: 180px;
    height: 180px;
    background-image: url("images/Logo.png");
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(29,29,29,0.8);
    outline: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgba(29,29,29,0.8);
    margin: 1.5rem;
}

.login-register {
    font-size: .9em;
    color: rgba(29,29,29,0.8);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: rgba(29,29,29,0.8);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
.subtask {
    padding-left: 20px;
    margin-right: 60px;
    font-weight: bolder;
}

.task {
    padding-left: 20px;
    font-weight: bolder;
}

.bold-text {
    font-weight: bolder;

}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
