<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create new SubProject</title>
</head>
<body>
    <h1>SubProjects</h1>

    <form action="/createSubProject" method="post">
        <div style="margin-top: 100px">
            <label for="subProjectName">SubProject Name:</label><br>
            <input type="text" id="subProjectName" name="subProjectName" required><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" required></textarea><br>
            <label for="deadline">Deadline:</label><br>
            <input type="date" id="deadline" name="deadline" required><br><br>
            <button type="submit">Create SubProject</button>
        </div>
    </form>

</body>
</html>