<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gantt Models</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a th:href="@{/home/{user_id}(user_id=${userId})}">
        <div class="logo"></div>
    </a>
    <nav class="navigation">
        <a th:href="@{/editUser/{user_id}(user_id=${userId})}">Edit Profile</a>
        <a th:href="@{/logout}" button class="slidelogin-popup">Log out</a>
    </nav>
</header>

<h1>Gantt Models</h1>

<div th:each="task : ${tasks}">
    <h2 th:text="${task.task_name}">Task Name</h2> <!-- Updated this line -->
    <ul>
        <li th:each="subtask : ${task.subtasks}" th:text="${subtask.subtask_name}">Subtask Name</li> <!-- Updated this line -->
    </ul>
</div>

<copyrightSection>
    <p>&copy; 2024 Project Forge by Alphasolutions</p>
</copyrightSection>
</body>
</html>