<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
</head>
<body>
    <table>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>SubProjects</th>
        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectID}"></td>
            <td th:text="${project.projectName}"></td>
            <td th:text="${project.description}"></td>
            <td th:text="${project.deadline}"></td>
            <td>
                <ul>
                    <li th:each="subproject : ${project.subProjects}">
                        <span th:text="${subproject.subProjectName}"></span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>